//- PUG Layout
doctype html
html(lang="ru") 
  head
    block title
      title Test films
    
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Xompatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")

    //- Stylesheets
    block styles
      link(rel="stylesheet", type="text/css", href="./styles/index.css")
    
  body
    //- Wrapper
    .body-wrapper
      //- Page header
      include ../includes/_header.pug
      //- Content
      main
        block main
    //- JS
    block scripts
      //- JQuery
      script(src="./scripts/jquery-3.2.1.min.js")
      //- Main script
      script(src="./scripts/index.js")
