section.section.section_grey
  .heading
    h2.
      Фильмы
    button.button(type="button")
      span.button__caption.
        Все фильмы фестиваля
      .button__icon
        include ../images/right-arrow.svg
  ul.films
    li.films__item
      a.card(href="#")
        .card__image.poster
          .poster__wrapper
            .poster__shine
            img.poster__image(src="./images/movie-poster-1.png")
        .card__content
          p.card__name.
            Большой собачий побег
          p.card__description.
            2016  —  Испания, Канада
    li.films__item
      a.card(href="#")
        .card__image.poster
          .poster__wrapper
            .poster__shine
            img.poster__image(src="./images/movie-poster-2.png")
        .card__content
          p.card__name.
            Я, Дэниел Блэйк
          p.card__description.
            2016  —  Великобритания, Франция, Бельгия
    li.films__item
      a.card(href="#")
        .card__image.poster
          .poster__wrapper
            .poster__shine
            img.poster__image(src="./images/movie-poster-3.png")
        .card__content
          p.card__name.
            Браво!
          p.card__description.
            2016  —  Румыния, Болгария, Чехия
    li.films__item
      a.card(href="#")
        .card__image.poster
          .poster__wrapper
            .poster__shine
            img.poster__image(src="./images/movie-poster-4.png")
        .card__content
          p.card__name.
            Одиссея
          p.card__description.
            2016  —  Франция