header.header
  .header__top
    .header__title.title
      span.title__number.
        13
      h1.title__name
        span.
          Фестиваль
        br
        span.
          кино
    .header__city.city-switcher
      span.city-switcher__field-name.
        Город:
      button.city-switcher__button(type="button")
        span.city-switcher__current-city.
          Калининград
        .city-switcher__icon
          include ../images/angle-arrow-down.svg
  nav.header__menu.main-menu
    ul.main-menu__list
      li.main-menu__item
        a.main-menu__link(href="#").
          О фестивале
      li.main-menu__item
        a.main-menu__link(href="#").
          Фильмы
      li.main-menu__item
        a.main-menu__link(href="#").
          Расписание
      li.main-menu__item
        a.main-menu__link(href="#").
          Фото
      li.main-menu__item
        a.main-menu__link(href="#").
          Контакты
      li.main-menu__item
        a.main-menu__link(href="#").
          Архив
  .header__bottom
    a.button(href="#")
      span.button__caption.
        Купить билет
    .circles
      .circles__circle
      .circles__circle
      .circles__circle
      .circles__circle